/* css styles */

body {
  background: linear-gradient(to bottom, rgba(44, 62, 80, 0.5), rgba(169, 169, 169, 0.8)), url("background.png") center/cover no-repeat fixed;
  color: black;
}

.navbar, .nav-footer {
  background: rgba(0, 0, 0, 0);
}

.about-link-text {
  color: black;
}


